.whole {
  min-height: 100vh;
}
.row-contain {
  height: 100vh;
}
.video-player {
  position: absolute;
  top: -2%;
  left: 28%;
  border-radius: 5%;
}
.tv-col {
  background: url("TV.jpg") center/cover no-repeat;
  position: relative;
  width: 100%;
}
.remote-col {
  width: 100%;
}
