body {
  margin-left: 20px;
  border-radius: 8px;
  width: 95vw;
}
.intro {
  height: 50vh;
  background: grey;
  position: relative;
  border: 5px solid black;
  margin-bottom: 0px;
  z-index: -2;
}
.image {
  position: relative;
  height: 70%;
}
.img {
  position: relative;
  top: 20%;
  left: 40%;
  border: 6px orange dashed;
  border-radius: 40%;
  z-index: 1;
}
.name {
  background: orange;
  color: black;
  width: 30%;
  height: 20%;
  margin-left: 36%;
  text-align: center;
  position: absolute;
  top: 70%;
  z-index: 0;
}
h1 {
  font-size: 18px;
}
.blank {
  background: beige;
  height: 10%;
  position: relative;
  top: 7%;
  z-index: -1;
}
.info {
  background: white;
  height: 7vh;
  margin-top: 0px;
}
h2 {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.side {
  float: left;
  height: auto;
  width: 47vw;
  background: whitesmoke;
  margin-top: 30px;
}
.first {
  border-right: 1px solid grey;
}
p {
  color: black;
}
.head {
  font-size: 40px;
}
i {
  color: orange;
  font-size: 40px;
}
.sub {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.tech,
.addi {
  font-size: 25px;
}
input[type="range"] {
  position: absolute;
  top: auto;
  left: 39%;
  width: 60%;
}
.techn,
.add {
  position: relative;
  margin: 10px;
}
.icon {
  background: black;
  padding: 7px;
  border-radius: 20%;
  border: dashed orange 2px;
}
